---
import { getCollection, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import Tag from "../../components/Tag.astro";
import { formatDate } from "../../utils";

export async function getStaticPaths() {
   const posts = await getCollection("articles");

   return posts.map((post) => ({
      params: { slug: post.id.replace("articles/", "").replace(".md", "") },
      props: {
         post,
      },
   }));
}

const { post } = Astro.props;
const { title, tags, pubDate } = post.data;

const { Content } = await render(post);
---

<MainLayout bgColor="bg-azul-700">
   <article class="container space-y-4">
      <div class="space-y-2">
         <h1 class="font-display text-3xl tracking-wide">{title}</h1>
         <span class="text-white/80 font-light block"
            >{formatDate(pubDate)}</span
         >
         <Tag tags={tags} bgColor="bg-azul-800" />
      </div>

      <div>
         <Content />
      </div>
   </article>
</MainLayout>

<style is:global>
   h2 {
      font-weight: 600;
   }

   p {
      opacity: 0.8;
      margin-bottom: 1rem;
   }
</style>
