---
import { getCollection, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import Tag from "../../components/Tag.astro";
import { formatDate } from "../../utils";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
   const posts = await getCollection("articles");

   return posts.map((post) => ({
      params: { slug: post.id.replace("articles/", "").replace(".md", "") },
      props: {
         post,
      },
   }));
}

const { post } = Astro.props;
const { title, tags, pubDate } = post.data;

const { Content } = await render(post);
---

<MainLayout bgColor="bg-azul-700">
   <div class="flex flex-col min-h-[calc(100vh-110px)] mt-7">
      <article class="container space-y-5 flex-1">
         <a
            href="/articles"
            class="inline-block bg-azul-800 hover:bg-azul-800/80 px-12 py-2 uppercase font-semibold rounded-md mb-10 duration-100"
            >Voltar</a
         >
         <div class="space-y-2">
            <h1 class="font-display text-3xl tracking-wide">{title}</h1>
            <span class="text-white/50 block">{formatDate(pubDate)}</span>
            <Tag tags={tags} bgColor="bg-azul-800" />
         </div>
         <div class="pb-7 contentStyle">
            <Content />
         </div>
      </article>
      <Footer />
   </div>
</MainLayout>

<style is:global>
   .contentStyle h2 {
      font-weight: 600;
   }

   .contentStyle p {
      margin-bottom: 12px;
      opacity: 0.9;
   }
</style>
