---
export const prerender = false;
import Cards from "../../components/Cards.astro";
import Footer from "../../components/Footer.astro";
import SearchForm from "../../components/SearchForm.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllArticles } from "../../utils";
import { searchResults } from "../../utils";

const query: string | null = Astro.url.searchParams.get("query");
const cleanQuery = query?.trim() ?? null; // remove leading and trailing spaces

const allArticles = await getAllArticles();

// Filter articles based on query
const results = searchResults(allArticles, cleanQuery);
---

<MainLayout title={cleanQuery ? `Busca: ${cleanQuery}` : "Faça uma busca"}>
   <div class="container flex flex-col min-h-[calc(100vh-94px)]">
      <h2 class="text-subtitle py-5 md:py-7">
         {cleanQuery ? `Resultados para: ${cleanQuery}` : "Faça uma busca"}
      </h2>

      <SearchForm query={cleanQuery} />

      {
         cleanQuery && results.length === 0 && (
            <p class="text-center text-white/40">Nenhum resultado encontrado</p>
         )
      }

      <div class="flex-1">
         <Cards posts={results} />
      </div>
   </div>

   <Footer class="bg-azul-800" />
</MainLayout>
