@import "tailwindcss";
@import "./fonts.css";

@theme {
   /* CUSTOM FONTS */
   --font-sans: "Barlow", sans-serif;
   --font-display: "Orbitron", sans-serif;

   /* CUSTOM COLORS */
   --color-azul-900: #090b11;
   --color-azul-800: #0e121a;
   --color-azul-700: #202a3d;
   --color-verde-700: #479e63;
   --color-verde-500: #5ede87;
   --color-verde-400: #84f0a7;
}

/* CUSTOM CLASSES */
@utility bg-gradient {
   background: linear-gradient(
      to right,
      var(--color-verde-500),
      var(--color-verde-400)
   );
   color: var(--color-azul-900);
}

@utility container {
   margin: 0 auto;
   max-width: 1150px;
   padding: 0 1rem;
}

@utility text-title {
   @apply font-display font-semibold leading-tight tracking-wide; /* Estilos */
   @apply text-3xl md:text-5xl; /* Tamanhos */
   @apply py-5 md:py-10; /* Espacamentos */
}
