---
import MainLayout from "../assets/layouts/MainLayout.astro";
import BtnCta from "../components/BtnCta.astro";
---

<MainLayout
   bgColor="bg-azul-700"
   hasHeader={false}
   class="min-h-screen grid place-content-center place-items-center text-center space-y-5"
>
   <h2 class="font-display tracking-wide text-8xl text-azul-800">404</h2>
   <p class="text-white/50">
      Ops! A página que você está prourando não existe.
   </p>
   <BtnCta title="Voltar" href="/" />
</MainLayout>
