---
import "../styles/global.css";

import Glow from "../components/Glow.astro";
---

<html lang="pt-BR">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <link rel="icon" href="/favicon.ico" />
      <meta name="viewport" content="width=device-width" />
      <title>Astroblog | Notícias e artigos sobre tecnologia</title>
   </head>
   <body class="bg-azul-900 text-white font-sans">
      <Glow class="-top-32 left-1/3 -translate-x-1/2 w-250 h-100" />
   </body>
</html>
