---
import MainLayout from "../assets/layouts/MainLayout.astro";
import Cards from "../components/Cards.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
---

<MainLayout>
   <!-- HEADER COMPONENT -->
   <Header />

   <!-- HERO SECTION -->
   <HeroSection />

   <!-- POSTS SECTION -->
   <main class="bg-azul-800 rounded-tl-4xl rounded-tr-4xl min-h-80">
      <h1 class="text-title text-center pt-14 mb-8 md:pt-20 md:mb-12">Posts</h1>

      <Cards />
   </main>
</MainLayout>
