---
import MainLayout from "../../../layouts/MainLayout.astro";
import Cards from "../../../components/Cards.astro";
import Footer from "../../../components/Footer.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
   const posts = await getCollection("articles");

   const tags = [...new Set(posts.flatMap((post) => post.data.tags))]; // remove duplicates and convert to array

   return tags.map((tag) => ({
      params: { tag },
      props: {
         posts: posts.filter((post) => post.data.tags.includes(tag)), // filter posts by tag
         tag,
      },
   }));
}
---

<MainLayout bgColor="bg-azul-800" title={`#${Astro.props.tag}`}>
   <div class="flex flex-col min-h-[calc(100vh-94px)]">
      <h2 class="text-subtitle py-5 md:py-7">
         Artigos com a tag #{Astro.props.tag}
      </h2>

      <div class="flex-1 py-7 md:py-10">
         <Cards posts={Astro.props.posts} />
      </div>
      <Footer />
   </div>
</MainLayout>
