---
import Card from "./Card.astro";
import { posts } from "../data/posts";
---

<div
   class="container grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6"
>
   {posts.map((post) => <Card post={post} />)}
</div>
