---
import ArticleCard from "./ArticleCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { sortByDate } from "../utils";

interface Props {
   articlesPerPage?: number;
}

const { articlesPerPage = 6 } = Astro.props;

const allBlogArticles: CollectionEntry<"articles">[] =
   await getCollection("articles");

const allBlogArticlesSortedByDate = sortByDate(allBlogArticles);
---

<div
   class="container grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6 mb-10"
>
   {
      allBlogArticlesSortedByDate
         .slice(0, articlesPerPage)
         .map((article) => <ArticleCard post={article} />)
   }
</div>
