---
import Card from "./Card.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allBlogArticles: CollectionEntry<"articles">[] =
   await getCollection("articles");

console.log(allBlogArticles.length);
---

<div
   class="container grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6"
>
   {allBlogArticles.map((article) => <Card post={article} />)}
</div>
