---
import type { CollectionEntry } from "astro:content";
import { getAllArticles } from "../utils";
import ArticleCard from "./ArticleCard.astro";

interface Props {
   articlesPerPage?: number;
   posts?: CollectionEntry<"articles">[];
}

const { articlesPerPage, posts: providedPosts } = Astro.props;

// If 'posts' is not passed via props, we get them (ex: from Home)
const posts = providedPosts ?? (await getAllArticles());

// If 'articlesPerPage' is not passed via props, we get all the posts
const displayPosts = articlesPerPage ? posts.slice(0, articlesPerPage) : posts;
---

<div
   class="container grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-6 mb-10"
>
   {displayPosts.map((article) => <ArticleCard post={article} />)}
</div>
