---
import { getAllArticles } from "../utils";
import ArticleCard from "./ArticleCard.astro";

interface Props {
   articlesPerPage?: number;
}

const { articlesPerPage = 6 } = Astro.props;

const allBlogArticlesSortedByDate = await getAllArticles();
---

<div
   class="container grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6 mb-10"
>
   {
      allBlogArticlesSortedByDate
         .slice(0, articlesPerPage)
         .map((article) => <ArticleCard post={article} />)
   }
</div>
