<footer class="container py-10 flex items-center justify-between">
   <img src="/symbol-logo.svg" alt="Astroblog Logo Símbolo" />

   <p class="text-azul-700 hover:text-slate-700 duration-100">
      Desenvolvido por <span class="font-semibold">Guilherme</span>
   </p>
</footer>
