---
import { twMerge } from "tailwind-merge";

interface Props {
   class?: string;
}

const { class: className } = Astro.props;
---

<footer class={twMerge("bg-azul-900", className)}>
   <div class="container py-10 flex items-center justify-between">
      <img src="/symbol-logo.svg" alt="Astroblog Logo Símbolo" />
      <p class="text-slate-700 hover:text-slate-600 duration-150">
         Desenvolvido por <span class="font-semibold">Amplixel</span>
      </p>
   </div>
</footer>
